services:
  system_obslugi_serwisu:
    image: system_obslugi_serwisu
    build:
      context: .
      dockerfile: system_obslugi_serwisu/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    ports:
      - "5167:5167"
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - aspnet_keys:/home/app/.aspnet/DataProtection-Keys
    healthcheck:
      test: [ "CMD", "bash", "-c", "cat < /dev/null > /dev/tcp/localhost/8080" ]
      interval: 10s
      timeout: 3s
      retries: 10
  
  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=123
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin123
      - MINIO_NOTIFY_AMQP_ENABLE_RabbitMq=on
      - MINIO_NOTIFY_AMQP_URL_RabbitMq=amqp://guest:guest@rabbitmq:5672
      - MINIO_NOTIFY_AMQP_EXCHANGE_RabbitMq=minio-upload-events
      - MINIO_NOTIFY_AMQP_EXCHANGE_TYPE_RabbitMq=fanout
      - MINIO_NOTIFY_AMQP_DURABLE_RabbitMq=on
      - MINIO_NOTIFY_AMQP_AUTO_DELETED_RabbitMq=off
      - MINIO_NOTIFY_AMQP_DELIVERY_MODE_RabbitMq=2
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
      - ./minioRun.sh:/usr/local/bin/minioRun.sh
      - ./minioConfig.sh:/usr/local/bin/minioConfig.sh
    entrypoint: [ "/bin/sh", "-c", "/usr/local/bin/minioRun.sh & /usr/local/bin/minioConfig.sh; wait" ]
    depends_on:
      - rabbitmq

  rabbitmq:
      image: rabbitmq:3-management
      container_name: rabbitmq
      environment:
        - RABBITMQ_DEFAULT_USER=guest
        - RABBITMQ_DEFAULT_PASS=guest
        - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbitmq_management load_definitions "/etc/rabbitmq/definitions.json"
      ports:
        - "5672:5672"
        - "15672:15672"
      healthcheck:
        test: [ "CMD", "rabbitmq-diagnostics", "check_running" ]
        interval: 5s
        timeout: 5s
        retries: 5
      volumes:
        - ./RabbitMqConfig.json:/etc/rabbitmq/definitions.json
        - rabbitmq_data:/var/lib/rabbitmq
  
  nginx:
    image: nginx
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      system_obslugi_serwisu:
        condition: service_healthy
      minio:
        condition: service_started
      
    

volumes:
  aspnet_keys:
  postgres_data:
  minio_data:
  rabbitmq_data: